<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 第一部分是照着写就可以了，没有什么好说的 -->
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false" />
  </configSections>

  <!-- 第二部分是定义一个或者多个连接数据库的字符串，其中要注意的是这部分的name的值是第三部分connectionStringName属性的值-->
  <!-- 正式库-->
  <connectionStrings>
    <add name="Nowthwin" connectionString="Data Source=172.16.7.44;Initial Catalog=APSData;User ID=WebService;Password=aps@123" />
    <!--<add name="ErpNowthwin" connectionString="Data Source=Fyerp;Persist Security Info=True;User ID=Fyerp;Password=oracle"/>-->
  </connectionStrings>
  <!-- 第三部分是将连接字符串和数据库驱动匹配起来成为一个连接。name是连接的名字，generatedNamespace的值是生成对象的命名空间-->
  <SubSonicService defaultProvider="Nowthwin">
    <providers>
      <clear />
      <add name="Nowthwin" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="Nowthwin" generatedNamespace="Model" />
      <!--<add name="ErpNowthwin" type="SubSonic.OracleDataProvider,SubSonic" connectionStringName="ErpNowthwin" generatedNamespace="OracleDataDomain"/>-->
    </providers>
  </SubSonicService>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INewMassgeService" />
        <binding name="BasicHttpBinding_INewMessageQueues2" />
        <binding name="BasicHttpBinding_INewMassgeService1" />
        <binding name="BasicHttpBinding_INewMassgeService2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.16.7.44:6666/MessageQueues/NewMessageQueues.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewMessageQueues2"
        contract="ServiceOld.INewMessageQueues" name="BasicHttpBinding_INewMessageQueues2" />
      <endpoint address="http://localhost:8888/Service/NewMassgeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewMassgeService"
        contract="ServiceTest.INewMassgeService" name="BasicHttpBinding_INewMassgeService" />
      <endpoint address="http://localhost:8888/Service/NewMassgeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewMassgeService1"
        contract="LocalService.INewMassgeService" name="BasicHttpBinding_INewMassgeService1" />
      <endpoint address="http://172.16.7.214:8888/Service/NewMassgeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewMassgeService2"
        contract="APSService.INewMassgeService" name="BasicHttpBinding_INewMassgeService2" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SubSonic" publicKeyToken="eadb47849839a332" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>