<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INewMassgeService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.16.7.213:8888/Service/NewMassgeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewMassgeService"
                contract="ServiceApsMq.INewMassgeService" name="BasicHttpBinding_INewMassgeService" />
        </client>
    </system.serviceModel>
</configuration>